/* .readmore{
      color: aqua;
      font-size: 12pt;
      
}
.readmore :hover{
    text-decoration: underline;
}
.readless{
    color: aqua;
    font-size: 12pt;
    display: none;
}
.readless :hover{
    text-decoration: underline;
}
#benin{
    display: none;
}
.img1{
    /* width: 335pt; */
    /* height: 200pt;
    border-color: blue;
} */ */


.low{
    display: none;
}
#Yam{
    display: none;
}
#lessone{
    display: none;
}
#along{
    display: none;
}
#african{
    display: none;
}
.readmore{
    color:rgba(73, 58, 209, 0.849);
    font-size: 12pt;
    background-color: aliceblue;
    border-radius: 6px;

}
.readmore:hover{
    text-decoration: underline;
}
.Readless{
    color:rgba(73, 58, 209, 0.849);
    font-size: 12pt;
    display: none;
    background-color: aliceblue;
}
.readless:hover{
    text-decoration: underline;
    color:rgba(73, 58, 209, 0.849) ;
    background-color: aliceblue;
    border-radius: 6px;
}
#fresh{
    display: none;
}
#green{
    display: none;
}
#wood{
    display: none;
}
#seed{
    display: none;
}
#old{
    display: none;
}











